* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;

  background-image: url(./assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

ul {
  position: relative;

  width: 100%;
  height: 100%;

  list-style: none;
  background: rgba(2, 15, 32, 40%);
}

.item {
  position: absolute;
  transform: translate(-50%, -50%);
}

.item__button {
  padding: 9px 15px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;

  min-width: 41px;
  min-height: 41px;
  max-width: 41px;
  max-height: 41px;

  border-radius: 40px;
  overflow: hidden;
  background-color: rgba(56, 119, 238, 70%);
  outline: none;
  border: none;
  overflow: hidden;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: 20px;
}

.item.active .item__button {
  max-height: 240px;
  max-width: 300px;

  border-radius: 40px;
  background-color: rgba(56, 119, 238, 100%);
  transition: all 0.5s ease-out;
}

.item.active .item__button.alterative {
  background-color: rgba(106, 191, 75, 100%);
}

.item__button-label {
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  transition: all 0.5s ease-in;
  opacity: 0;
}

.item.active .item__button-label {
  opacity: 1;
}

.item__button.alterative {
  background-color: rgba(106, 191, 75, 70%);
}

.item:nth-child(1) {
  left: 72.18%;
  top: 12.6vw;
}

.item:nth-child(2) {
  left: 30.9%;
  top: 15.5vw;
}

.item:nth-child(3) {
  left: 60.69%;
  top: 21.8vw;
}

.item:nth-child(4) {
  left: 74.64%;
  top: 25.7vw;
}

.item:nth-child(5) {
  left: 36.48%;
  top: 25.99vw;
}

.item:nth-child(6) {
  left: 57.18%;
  top: 33.69vw;
}

.item:nth-child(7) {
  left: 69%;
  top: 35.79vw;
}

.item:nth-child(8) {
  left: 23.85%;
  top: 38.2vw;
}

.item:nth-child(9) {
  left: 84.15%;
  top: 38.2vw;
}

.item:nth-child(10) {
  left: 58.59%;
  top: 42vw;
}
